@tailwind base;
@tailwind components;
@tailwind utilities;

.custon-scrolbarr::-webkit-scrollbar {
    height: 8px !important;
    widht: 8px;
}

.custon-scrolbarr::-webkit-scrollbar-thumb{
    background-color: #ffffff3b;
}